.review {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: 0 10px 10px #adb5bd;
  transition: all 0.3s linear;
}

.review:hover {
  box-shadow: 0 10px 10px #666;
}
