.countries {
  display: flex;
  align-items: stretch;
  padding: 1.5rem 0;
  text-transform: capitalize;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 3rem;
  margin-bottom: 0.7rem;
}

.country__region {
  margin-bottom: 2.5rem;
  /* text-transform: uppercase; */
  color: #777;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
  /* width: 17ch; */
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.country__row a:link {
  color: #555;
  text-decoration: none;
}

.country__row a:visited {
  color: #2b8a3e;
}

.country__row a:hover {
  color: #1183d6;
}
