.main-container {
  /* padding: 1.8rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: space-around; */
  font-size: 2rem;
  /* opacity: 0; */
  transition: opacity 0.5s;
}
