.prev-btn,
.next-btn {
  color: #339af0;
  font-size: 4rem;
  background: transparent;
  border-color: transparent;
  margin: 0.5rem 1rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  font-weight: 700;
  color: #1864ab;
}

.random-btn {
  font-size: 1.6;
  font-weight: 700;
  background-color: #d0ebff;
  color: #1864ab;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border-color: #339af0;
  cursor: pointer;
}

.random-btn:hover {
  background: #339af0;
  color: white;
}
