/*
  - FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */

/* Restarting all default values */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; by default 1 rem = 16px; But now it is 1 rem = 10px */
  /*[10px / 16px] = 0.625 = 62.5% OR [desired_pixels] / 16px = value * 100 = percentage_desired*/
  /* Percentage of users browser font-size settings */
  font-size: 62.5%;
  background-image: url(./images/color-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
